BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 0001

CREATE EXTENSION IF NOT EXISTS vector;

CREATE TABLE tenants (
    tenant_id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    subdomain VARCHAR(100) NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (tenant_id), 
    UNIQUE (subdomain)
);

CREATE TABLE customers (
    customer_id UUID NOT NULL, 
    auth_user_id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    full_name VARCHAR(255), 
    phone VARCHAR(30), 
    age_group VARCHAR(30), 
    preferred_channel VARCHAR(20) DEFAULT 'email' NOT NULL, 
    preferred_language VARCHAR(10) DEFAULT 'ar' NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    last_login_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (customer_id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (tenant_id)
);

CREATE UNIQUE INDEX ix_customers_email ON customers (email);

CREATE INDEX ix_customers_tenant_id ON customers (tenant_id);

CREATE UNIQUE INDEX ix_customers_auth_user_id ON customers (auth_user_id);

CREATE TABLE drugs (
    drug_id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    category VARCHAR(100) NOT NULL, 
    is_chronic BOOLEAN DEFAULT false NOT NULL, 
    base_price NUMERIC(10, 2) NOT NULL, 
    default_cycle_days INTEGER DEFAULT '30' NOT NULL, 
    PRIMARY KEY (drug_id)
);

CREATE INDEX ix_drugs_category ON drugs (category);

CREATE TABLE sessions (
    session_id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    customer_id UUID, 
    device_info VARCHAR(255), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (session_id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (tenant_id), 
    FOREIGN KEY(customer_id) REFERENCES customers (customer_id)
);

CREATE INDEX ix_sessions_customer_id ON sessions (customer_id);

CREATE INDEX ix_sessions_tenant_id ON sessions (tenant_id);

CREATE TABLE events (
    event_id UUID NOT NULL, 
    session_id UUID NOT NULL, 
    event_type VARCHAR(50) NOT NULL, 
    payload JSON, 
    timestamp TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (event_id), 
    FOREIGN KEY(session_id) REFERENCES sessions (session_id)
);

CREATE INDEX ix_events_session_id ON events (session_id);

CREATE TABLE drug_interactions (
    interaction_id UUID NOT NULL, 
    drug_id_a UUID NOT NULL, 
    drug_id_b UUID NOT NULL, 
    severity VARCHAR(20) NOT NULL, 
    note VARCHAR(500), 
    PRIMARY KEY (interaction_id), 
    CONSTRAINT ck_interaction_pair_order CHECK (drug_id_a < drug_id_b), 
    CONSTRAINT uq_interaction_pair UNIQUE (drug_id_a, drug_id_b), 
    FOREIGN KEY(drug_id_a) REFERENCES drugs (drug_id), 
    FOREIGN KEY(drug_id_b) REFERENCES drugs (drug_id)
);

CREATE TABLE drug_affinities (
    affinity_id UUID NOT NULL, 
    drug_id_a UUID NOT NULL, 
    drug_id_b UUID NOT NULL, 
    affinity_type VARCHAR(20) NOT NULL, 
    confidence_score FLOAT DEFAULT '0' NOT NULL, 
    PRIMARY KEY (affinity_id), 
    CONSTRAINT ck_affinity_pair_order CHECK (drug_id_a < drug_id_b), 
    CONSTRAINT uq_affinity_pair UNIQUE (drug_id_a, drug_id_b), 
    FOREIGN KEY(drug_id_a) REFERENCES drugs (drug_id), 
    FOREIGN KEY(drug_id_b) REFERENCES drugs (drug_id)
);

CREATE TABLE orders (
    order_id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    customer_id UUID NOT NULL, 
    order_date TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    status VARCHAR(20) DEFAULT 'completed' NOT NULL, 
    channel VARCHAR(20) DEFAULT 'web' NOT NULL, 
    PRIMARY KEY (order_id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (tenant_id), 
    FOREIGN KEY(customer_id) REFERENCES customers (customer_id)
);

CREATE INDEX ix_orders_tenant_id ON orders (tenant_id);

CREATE INDEX ix_orders_customer_id ON orders (customer_id);

CREATE TABLE order_items (
    order_item_id UUID NOT NULL, 
    order_id UUID NOT NULL, 
    drug_id UUID NOT NULL, 
    quantity INTEGER DEFAULT '1' NOT NULL, 
    price NUMERIC(10, 2) NOT NULL, 
    PRIMARY KEY (order_item_id), 
    FOREIGN KEY(order_id) REFERENCES orders (order_id), 
    FOREIGN KEY(drug_id) REFERENCES drugs (drug_id)
);

CREATE INDEX ix_order_items_order_id ON order_items (order_id);

CREATE INDEX ix_order_items_drug_id ON order_items (drug_id);

CREATE TABLE customer_cycles (
    customer_id UUID NOT NULL, 
    drug_id UUID NOT NULL, 
    avg_cycle_days FLOAT NOT NULL, 
    last_purchase_date DATE NOT NULL, 
    reminder_day DATE, 
    PRIMARY KEY (customer_id, drug_id), 
    FOREIGN KEY(customer_id) REFERENCES customers (customer_id), 
    FOREIGN KEY(drug_id) REFERENCES drugs (drug_id)
);

CREATE TABLE notifications (
    notification_id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    customer_id UUID NOT NULL, 
    notification_type VARCHAR(30) NOT NULL, 
    channel VARCHAR(20) NOT NULL, 
    ab_variant VARCHAR(20), 
    status VARCHAR(20) DEFAULT 'pending' NOT NULL, 
    sent_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (notification_id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (tenant_id), 
    FOREIGN KEY(customer_id) REFERENCES customers (customer_id)
);

CREATE INDEX ix_notifications_tenant_id ON notifications (tenant_id);

CREATE INDEX ix_notifications_customer_id ON notifications (customer_id);

CREATE TABLE audit_logs (
    log_id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    actor_id VARCHAR(100) NOT NULL, 
    action_type VARCHAR(50) NOT NULL, 
    target_entity VARCHAR(100) NOT NULL, 
    timestamp TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (log_id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (tenant_id)
);

CREATE INDEX ix_audit_logs_tenant_id ON audit_logs (tenant_id);

CREATE TABLE knowledge_chunks (
    chunk_id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    source_type VARCHAR(50) NOT NULL, 
    content TEXT NOT NULL, 
    embedding VECTOR(384) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (chunk_id)
);

CREATE INDEX ix_knowledge_chunks_tenant_id ON knowledge_chunks (tenant_id);

INSERT INTO alembic_version (version_num) VALUES ('0001') RETURNING alembic_version.version_num;

-- Running upgrade 0001 -> 0fd4baccac30

ALTER TABLE drugs ADD COLUMN image_url VARCHAR(500);

UPDATE alembic_version SET version_num='0fd4baccac30' WHERE alembic_version.version_num = '0001';

-- Running upgrade 0fd4baccac30 -> 0003_ab_tests

CREATE TABLE ab_tests (
    test_id UUID DEFAULT gen_random_uuid() NOT NULL, 
    tenant_id UUID NOT NULL, 
    test_name VARCHAR(100) NOT NULL, 
    variant_a VARCHAR(50) NOT NULL, 
    variant_b VARCHAR(50) NOT NULL, 
    start_date DATE NOT NULL, 
    end_date DATE, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (test_id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (tenant_id)
);

CREATE INDEX ix_ab_tests_tenant_id ON ab_tests (tenant_id);

CREATE TABLE ab_test_results (
    result_id UUID DEFAULT gen_random_uuid() NOT NULL, 
    test_id UUID NOT NULL, 
    notification_id UUID NOT NULL, 
    variant VARCHAR(50) NOT NULL, 
    converted BOOLEAN DEFAULT false NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (result_id), 
    FOREIGN KEY(test_id) REFERENCES ab_tests (test_id), 
    FOREIGN KEY(notification_id) REFERENCES notifications (notification_id)
);

CREATE INDEX ix_ab_test_results_test_id ON ab_test_results (test_id);

UPDATE alembic_version SET version_num='0003_ab_tests' WHERE alembic_version.version_num = '0fd4baccac30';

-- Running upgrade 0003_ab_tests -> a165179f481d

CREATE OR REPLACE FUNCTION public.current_user_tenant_id()
    RETURNS uuid
    LANGUAGE sql
    SECURITY DEFINER
    SET search_path = public
    STABLE
    AS $$
        SELECT tenant_id 
        FROM public.customers 
        WHERE auth_user_id = auth.uid() 
        LIMIT 1;
    $$;;

ALTER TABLE public.customers ENABLE ROW LEVEL SECURITY;;

DROP POLICY IF EXISTS tenant_isolation_customers ON public.customers;;

CREATE POLICY tenant_isolation_customers ON public.customers
    FOR ALL
    USING (
        tenant_id = public.current_user_tenant_id()
    )
    WITH CHECK (
        tenant_id = public.current_user_tenant_id()
    );;

UPDATE alembic_version SET version_num='a165179f481d' WHERE alembic_version.version_num = '0003_ab_tests';

-- Running upgrade a165179f481d -> 6da1c746fdff

ALTER TABLE customers ADD COLUMN role VARCHAR(50) DEFAULT 'customer' NOT NULL;

CREATE OR REPLACE FUNCTION current_user_tenant_id()
        RETURNS uuid
        LANGUAGE sql
        SECURITY DEFINER
        SET search_path = public
        AS $$
          SELECT tenant_id FROM customers WHERE auth_user_id = auth.uid() LIMIT 1;
        $$;;

ALTER TABLE customers ENABLE ROW LEVEL SECURITY;;

DROP POLICY IF EXISTS tenant_isolation_customers ON customers;;

CREATE POLICY tenant_isolation_customers ON customers
          FOR SELECT USING (tenant_id = current_user_tenant_id());;

ALTER TABLE drugs ENABLE ROW LEVEL SECURITY;;

DROP POLICY IF EXISTS global_read_drugs ON drugs;;

CREATE POLICY global_read_drugs ON drugs
          FOR SELECT USING (auth.role() = 'authenticated');;

ALTER TABLE orders ENABLE ROW LEVEL SECURITY;;

DROP POLICY IF EXISTS tenant_isolation_orders ON orders;;

CREATE POLICY tenant_isolation_orders ON orders
          FOR ALL USING (tenant_id = current_user_tenant_id());;

ALTER TABLE order_items ENABLE ROW LEVEL SECURITY;;

DROP POLICY IF EXISTS tenant_isolation_order_items ON order_items;;

CREATE POLICY tenant_isolation_order_items ON order_items
          FOR ALL
          USING (EXISTS (
            SELECT 1 FROM orders o
            WHERE o.order_id = order_items.order_id
            AND o.tenant_id = current_user_tenant_id()
          ))
          WITH CHECK (EXISTS (
            SELECT 1 FROM orders o
            WHERE o.order_id = order_items.order_id
            AND o.tenant_id = current_user_tenant_id()
          ));;

UPDATE alembic_version SET version_num='6da1c746fdff' WHERE alembic_version.version_num = 'a165179f481d';

-- Running upgrade 6da1c746fdff -> c89fa4cf264b

ALTER TABLE public.ab_tests ENABLE ROW LEVEL SECURITY;;

DROP POLICY IF EXISTS tenant_isolation_ab_tests ON public.ab_tests;;

CREATE POLICY tenant_isolation_ab_tests ON public.ab_tests
        FOR ALL
        USING (
            tenant_id = public.current_user_tenant_id()
        )
        WITH CHECK (
            tenant_id = public.current_user_tenant_id()
        );;

ALTER TABLE public.sessions ENABLE ROW LEVEL SECURITY;;

DROP POLICY IF EXISTS tenant_isolation_sessions ON public.sessions;;

CREATE POLICY tenant_isolation_sessions ON public.sessions
        FOR ALL
        USING (
            tenant_id = public.current_user_tenant_id()
        )
        WITH CHECK (
            tenant_id = public.current_user_tenant_id()
        );;

ALTER TABLE public.tenants ENABLE ROW LEVEL SECURITY;;

DROP POLICY IF EXISTS tenant_isolation_tenants ON public.tenants;;

CREATE POLICY tenant_isolation_tenants ON public.tenants
        FOR ALL
        USING (
            tenant_id = public.current_user_tenant_id()
        )
        WITH CHECK (
            tenant_id = public.current_user_tenant_id()
        );;

ALTER TABLE public.notifications ENABLE ROW LEVEL SECURITY;;

DROP POLICY IF EXISTS tenant_isolation_notifications ON public.notifications;;

CREATE POLICY tenant_isolation_notifications ON public.notifications
        FOR ALL
        USING (
            tenant_id = public.current_user_tenant_id()
        )
        WITH CHECK (
            tenant_id = public.current_user_tenant_id()
        );;

ALTER TABLE public.audit_logs ENABLE ROW LEVEL SECURITY;;

DROP POLICY IF EXISTS tenant_isolation_audit_logs ON public.audit_logs;;

CREATE POLICY tenant_isolation_audit_logs ON public.audit_logs
        FOR ALL
        USING (
            tenant_id = public.current_user_tenant_id()
        )
        WITH CHECK (
            tenant_id = public.current_user_tenant_id()
        );;

ALTER TABLE public.knowledge_chunks ENABLE ROW LEVEL SECURITY;;

DROP POLICY IF EXISTS tenant_isolation_knowledge_chunks ON public.knowledge_chunks;;

CREATE POLICY tenant_isolation_knowledge_chunks ON public.knowledge_chunks
        FOR ALL
        USING (
            tenant_id = public.current_user_tenant_id()
        )
        WITH CHECK (
            tenant_id = public.current_user_tenant_id()
        );;

ALTER TABLE public.drug_interactions ENABLE ROW LEVEL SECURITY;;

DROP POLICY IF EXISTS global_read_drug_interactions ON public.drug_interactions;;

CREATE POLICY global_read_drug_interactions ON public.drug_interactions
        FOR SELECT
        USING (true);;

ALTER TABLE public.drug_affinities ENABLE ROW LEVEL SECURITY;;

DROP POLICY IF EXISTS global_read_drug_affinities ON public.drug_affinities;;

CREATE POLICY global_read_drug_affinities ON public.drug_affinities
        FOR SELECT
        USING (true);;

ALTER TABLE public.customer_cycles ENABLE ROW LEVEL SECURITY;;

DROP POLICY IF EXISTS global_read_customer_cycles ON public.customer_cycles;;

CREATE POLICY global_read_customer_cycles ON public.customer_cycles
        FOR SELECT
        USING (true);;

ALTER TABLE public.events ENABLE ROW LEVEL SECURITY;;

DROP POLICY IF EXISTS global_read_events ON public.events;;

CREATE POLICY global_read_events ON public.events
        FOR SELECT
        USING (true);;

ALTER TABLE public.pending_reminders ENABLE ROW LEVEL SECURITY;;

DROP POLICY IF EXISTS global_read_pending_reminders ON public.pending_reminders;;

CREATE POLICY global_read_pending_reminders ON public.pending_reminders
        FOR SELECT
        USING (true);;

ALTER TABLE public.ab_test_results ENABLE ROW LEVEL SECURITY;;

DROP POLICY IF EXISTS global_read_ab_test_results ON public.ab_test_results;;

CREATE POLICY global_read_ab_test_results ON public.ab_test_results
        FOR SELECT
        USING (true);;

UPDATE alembic_version SET version_num='c89fa4cf264b' WHERE alembic_version.version_num = '6da1c746fdff';

-- Running upgrade c89fa4cf264b -> 8bde7c490701

ALTER TABLE ab_test_results ALTER COLUMN created_at SET NOT NULL;

ALTER TABLE ab_tests ALTER COLUMN created_at SET NOT NULL;

ALTER TABLE audit_logs ALTER COLUMN timestamp SET NOT NULL;

ALTER TABLE customers ALTER COLUMN created_at SET NOT NULL;

ALTER TABLE events ADD COLUMN payload_hash VARCHAR(64);

ALTER TABLE events ADD COLUMN prev_hash VARCHAR(64);

ALTER TABLE events ADD COLUMN actor_id UUID;

ALTER TABLE events ADD COLUMN source_ip VARCHAR(45);

ALTER TABLE events ADD COLUMN user_agent VARCHAR(200);

ALTER TABLE events ALTER COLUMN timestamp SET NOT NULL;

ALTER TABLE knowledge_chunks ALTER COLUMN created_at SET NOT NULL;

ALTER TABLE notifications ALTER COLUMN created_at SET NOT NULL;

ALTER TABLE orders ALTER COLUMN order_date SET NOT NULL;

ALTER TABLE sessions ALTER COLUMN created_at SET NOT NULL;

ALTER TABLE sessions DROP CONSTRAINT sessions_tenant_id_fkey;

ALTER TABLE tenants ALTER COLUMN created_at SET NOT NULL;

ALTER TABLE customers FORCE ROW LEVEL SECURITY;;

ALTER TABLE orders FORCE ROW LEVEL SECURITY;;

ALTER TABLE order_items FORCE ROW LEVEL SECURITY;;

ALTER TABLE drugs FORCE ROW LEVEL SECURITY;;

ALTER TABLE events FORCE ROW LEVEL SECURITY;;

ALTER TABLE sessions FORCE ROW LEVEL SECURITY;;

CREATE OR REPLACE FUNCTION current_user_tenant_id()
    RETURNS uuid
    LANGUAGE sql
    VOLATILE
    SECURITY DEFINER
    SET search_path = public
    AS $$
      SELECT tenant_id FROM customers WHERE auth_user_id = auth.uid() LIMIT 1;
    $$;;

ALTER TABLE events ENABLE ROW LEVEL SECURITY;;

DROP POLICY IF EXISTS tenant_isolation_events ON events;;

CREATE POLICY tenant_isolation_events ON events
          FOR ALL USING (
            EXISTS(SELECT 1 FROM sessions s JOIN customers c ON c.customer_id = s.customer_id
                   WHERE s.session_id = events.session_id AND c.tenant_id = current_user_tenant_id())
          );;

CREATE EXTENSION IF NOT EXISTS pgcrypto;;

CREATE OR REPLACE FUNCTION events_chains() RETURNS TRIGGER AS $$
    DECLARE
      latest_hash text;
    BEGIN
      SELECT payload_hash FROM events e
      WHERE e.session_id = NEW.session_id
      ORDER BY e.timestamp DESC LIMIT 1 INTO latest_hash;
      NEW.prev_hash := COALESCE(latest_hash, '0000');
      NEW.payload_hash := encode(
        digest(
          COALESCE(NEW.payload::text, '') || '|' || NEW.prev_hash || '|' || COALESCE(NEW.actor_id::text,''),
          'sha256'
        ), 'hex'
      );
      RETURN NEW;
    END;
    $$ LANGUAGE plpgsql SECURITY DEFINER;;

DROP TRIGGER IF EXISTS events_chain ON events;;

CREATE TRIGGER events_chain BEFORE INSERT ON events
      FOR EACH ROW EXECUTE FUNCTION events_chains();;

UPDATE alembic_version SET version_num='8bde7c490701' WHERE alembic_version.version_num = 'c89fa4cf264b';

-- Running upgrade 8bde7c490701 -> 0c97e08a5308

DROP POLICY IF EXISTS global_read_drugs ON public.drugs;;

CREATE POLICY global_read_drugs ON public.drugs
        FOR SELECT
        USING (true);;

CREATE OR REPLACE FUNCTION get_drug_categories()
        RETURNS TABLE (name VARCHAR, count BIGINT)
        SECURITY DEFINER
        AS $$
        BEGIN
            RETURN QUERY
            SELECT category AS name, COUNT(drug_id) AS count
            FROM public.drugs
            GROUP BY category
            ORDER BY count DESC;
        END;
        $$ LANGUAGE plpgsql;;

UPDATE alembic_version SET version_num='0c97e08a5308' WHERE alembic_version.version_num = '8bde7c490701';

-- Running upgrade 0c97e08a5308 -> phase5_audit_hardening

DROP POLICY IF EXISTS global_read_events ON public.events;;

DROP POLICY IF EXISTS global_read_customer_cycles ON public.customer_cycles;;

DROP POLICY IF EXISTS global_read_pending_reminders ON public.pending_reminders;;

DROP POLICY IF EXISTS global_read_ab_test_results ON public.ab_test_results;;

DROP POLICY IF EXISTS global_read_drug_affinities ON public.drug_affinities;;

DROP POLICY IF EXISTS global_read_drug_interactions ON public.drug_interactions;;

CREATE OR REPLACE FUNCTION public.current_user_tenant_id()
        RETURNS uuid
        LANGUAGE sql
        STABLE
        SECURITY DEFINER
        SET search_path = public
        AS $$
          SELECT COALESCE(
            NULLIF(current_setting('app.current_tenant_id', true), '')::uuid,
            (SELECT tenant_id FROM public.customers
             WHERE auth_user_id = auth.uid() LIMIT 1)
          );
        $$;;

GRANT EXECUTE ON FUNCTION public.current_user_tenant_id() TO PUBLIC;;

DROP POLICY IF EXISTS tenant_isolation_events ON public.events;;

CREATE POLICY tenant_isolation_events ON public.events
          FOR ALL
          USING (
            EXISTS(
              SELECT 1
              FROM public.sessions s
              JOIN public.customers c ON c.customer_id = s.customer_id
              WHERE s.session_id = events.session_id
                AND c.tenant_id = public.current_user_tenant_id()
            )
          )
          WITH CHECK (
            EXISTS(
              SELECT 1
              FROM public.sessions s
              JOIN public.customers c ON c.customer_id = s.customer_id
              WHERE s.session_id = events.session_id
                AND c.tenant_id = public.current_user_tenant_id()
            )
          );;

DO $$
        BEGIN
          IF EXISTS (
            SELECT 1 FROM information_schema.columns
            WHERE table_schema = 'public'
              AND table_name = 'customer_cycles'
              AND column_name = 'customer_id'
          ) THEN
            DROP POLICY IF EXISTS tenant_isolation_customer_cycles ON public.customer_cycles;
            EXECUTE $policy$
              CREATE POLICY tenant_isolation_customer_cycles ON public.customer_cycles
                FOR ALL
                USING (
                  EXISTS(
                    SELECT 1 FROM public.customers c
                    WHERE c.customer_id = customer_cycles.customer_id
                      AND c.tenant_id = public.current_user_tenant_id()
                  )
                )
                WITH CHECK (
                  EXISTS(
                    SELECT 1 FROM public.customers c
                    WHERE c.customer_id = customer_cycles.customer_id
                      AND c.tenant_id = public.current_user_tenant_id()
                  )
                );
            $policy$;
          END IF;
        END $$;;

DO $$
        DECLARE
          has_customer_id boolean;
          has_cycle_id     boolean;
        BEGIN
          SELECT EXISTS(SELECT 1 FROM information_schema.columns
            WHERE table_schema='public' AND table_name='pending_reminders'
              AND column_name='customer_id') INTO has_customer_id;
          SELECT EXISTS(SELECT 1 FROM information_schema.columns
            WHERE table_schema='public' AND table_name='pending_reminders'
              AND column_name='cycle_id') INTO has_cycle_id;

          IF has_customer_id THEN
            DROP POLICY IF EXISTS tenant_isolation_pending_reminders ON public.pending_reminders;
            EXECUTE $policy$
              CREATE POLICY tenant_isolation_pending_reminders ON public.pending_reminders
                FOR ALL
                USING (
                  EXISTS(SELECT 1 FROM public.customers c
                         WHERE c.customer_id = pending_reminders.customer_id
                           AND c.tenant_id = public.current_user_tenant_id())
                )
                WITH CHECK (
                  EXISTS(SELECT 1 FROM public.customers c
                         WHERE c.customer_id = pending_reminders.customer_id
                           AND c.tenant_id = public.current_user_tenant_id())
                );
            $policy$;
          ELSIF has_cycle_id THEN
            DROP POLICY IF EXISTS tenant_isolation_pending_reminders ON public.pending_reminders;
            EXECUTE $policy$
              CREATE POLICY tenant_isolation_pending_reminders ON public.pending_reminders
                FOR ALL
                USING (
                  EXISTS(SELECT 1 FROM public.customer_cycles cc
                         JOIN public.customers c ON c.customer_id = cc.customer_id
                         WHERE cc.cycle_id = pending_reminders.cycle_id
                           AND c.tenant_id = public.current_user_tenant_id())
                )
                WITH CHECK (
                  EXISTS(SELECT 1 FROM public.customer_cycles cc
                         JOIN public.customers c ON c.customer_id = cc.customer_id
                         WHERE cc.cycle_id = pending_reminders.cycle_id
                           AND c.tenant_id = public.current_user_tenant_id())
                );
            $policy$;
          END IF;
        END $$;;

DO $$
        BEGIN
          IF EXISTS (
            SELECT 1 FROM information_schema.columns
            WHERE table_schema='public' AND table_name='ab_test_results'
              AND column_name='ab_test_id'
          ) THEN
            DROP POLICY IF EXISTS tenant_isolation_ab_test_results ON public.ab_test_results;
            EXECUTE $policy$
              CREATE POLICY tenant_isolation_ab_test_results ON public.ab_test_results
                FOR ALL
                USING (
                  EXISTS(SELECT 1 FROM public.ab_tests t
                         WHERE t.ab_test_id = ab_test_results.ab_test_id
                           AND t.tenant_id = public.current_user_tenant_id())
                )
                WITH CHECK (
                  EXISTS(SELECT 1 FROM public.ab_tests t
                         WHERE t.ab_test_id = ab_test_results.ab_test_id
                           AND t.tenant_id = public.current_user_tenant_id())
                );
            $policy$;
          END IF;
        END $$;;

ALTER TABLE public.events
          ALTER COLUMN source_ip TYPE inet
          USING (CASE
                   WHEN source_ip ~ '^[0-9a-fA-F:.]+$' THEN source_ip::inet
                   ELSE NULL
                 END);;

ALTER TABLE public.events
          DROP CONSTRAINT IF EXISTS events_event_type_chk;;

ALTER TABLE public.events
          ADD CONSTRAINT events_event_type_chk
          CHECK (event_type IN (
            'page_view', 'search', 'add_to_cart', 'view_drug', 'start_checkout',
            'clinical_decision', 'admin_action_role_promotion'
          ));;

ALTER TABLE public.events
          ALTER COLUMN payload TYPE JSONB
          USING payload::jsonb;;

ALTER TABLE public.events
          ADD COLUMN IF NOT EXISTS event_seq BIGSERIAL;;

CREATE INDEX IF NOT EXISTS events_event_seq_idx ON public.events (event_seq);;

CREATE OR REPLACE FUNCTION public.events_chain()
        RETURNS TRIGGER
        LANGUAGE plpgsql
        SECURITY DEFINER
        AS $$
        DECLARE
          latest_payload_hash text;
          latest_event_seq    bigint;
        BEGIN
          IF NEW.event_seq IS NULL THEN
            -- Defensive: BIGSERIAL should populate this, but
            -- explicit INSERTs may skip DEFAULT.
            NEW.event_seq := nextval(pg_get_serial_sequence('public.events', 'event_seq'));
          END IF;

          SELECT e.payload_hash, e.event_seq
          FROM public.events e
          WHERE e.session_id = NEW.session_id
          ORDER BY e.event_seq DESC
          LIMIT 1
          INTO latest_payload_hash, latest_event_seq;

          NEW.prev_hash := COALESCE(latest_payload_hash, '0000000000000000000000000000000000000000000000000000000000000000');

          NEW.payload_hash := encode(
            digest(
              COALESCE(NEW.payload::text, '{}') || '|' ||
              NEW.prev_hash || '|' ||
              COALESCE(NEW.actor_id::text, ''),
              'sha256'
            ),
            'hex'
          );

          RETURN NEW;
        END;
        $$;;

DROP TRIGGER IF EXISTS events_chain ON public.events;;

CREATE TRIGGER events_chain
          BEFORE INSERT ON public.events
          FOR EACH ROW
          EXECUTE FUNCTION public.events_chain();;

CREATE OR REPLACE FUNCTION public.events_block_mutation()
        RETURNS TRIGGER
        LANGUAGE plpgsql
        SECURITY DEFINER
        AS $$
        BEGIN
          RAISE EXCEPTION 'public.events is append-only: UPDATE/DELETE is forbidden (HIPAA 45 CFR 164.312(c)(1)).';
        END;
        $$;;

DROP TRIGGER IF EXISTS events_block_mutation ON public.events;;

CREATE TRIGGER events_block_mutation
          BEFORE UPDATE OR DELETE ON public.events
          FOR EACH ROW
          EXECUTE FUNCTION public.events_block_mutation();;

DO $$
        DECLARE
          r text;
        BEGIN
          -- Try the conventional name; ignore if missing.
          BEGIN
            EXECUTE 'REVOKE UPDATE, DELETE ON public.events FROM application_role';
          EXCEPTION WHEN undefined_object THEN NULL;
          END;

          -- Defensive: also revoke from PUBLIC so any role that inherited
          -- grants via PUBLIC cannot mutate the log.
          REVOKE UPDATE, DELETE ON public.events FROM PUBLIC;
        END $$;;

CREATE OR REPLACE FUNCTION public.verify_events_chain(
          p_tenant_id uuid DEFAULT NULL
        )
        RETURNS TABLE (
          broken_at_seq bigint,
          event_id      uuid,
          session_id    uuid,
          reason        text,
          expected_hash text,
          actual_hash   text
        )
        LANGUAGE plpgsql
        SECURITY DEFINER
        AS $$
        DECLARE
          r               record;
          prev_payload    text := '0000000000000000000000000000000000000000000000000000000000000000';
          expected_hash   text;
        BEGIN
          FOR r IN
            SELECT e.event_id, e.session_id, e.event_seq,
                   e.payload_hash, e.prev_hash,
                   COALESCE(e.payload::text, '{}') AS payload_text,
                   COALESCE(e.actor_id::text, '')  AS actor_text
            FROM public.events e
            WHERE p_tenant_id IS NULL
               OR EXISTS (
                    SELECT 1 FROM public.sessions s
                    JOIN public.customers c ON c.customer_id = s.customer_id
                    WHERE s.session_id = e.session_id
                      AND c.tenant_id = p_tenant_id
                   )
            ORDER BY e.session_id, e.event_seq
          LOOP
            -- 1. prev_hash must match the previous row's payload_hash
            IF r.prev_hash IS DISTINCT FROM prev_payload THEN
              broken_at_seq := r.event_seq;
              event_id      := r.event_id;
              session_id    := r.session_id;
              reason        := 'prev_hash mismatch';
              expected_hash := prev_payload;
              actual_hash   := r.prev_hash;
              RETURN NEXT;
            END IF;

            -- 2. payload_hash must equal recomputed hash
            expected_hash := encode(
              digest(r.payload_text || '|' || r.prev_hash || '|' || r.actor_text, 'sha256'),
              'hex'
            );
            IF r.payload_hash IS DISTINCT FROM expected_hash THEN
              broken_at_seq := r.event_seq;
              event_id      := r.event_id;
              session_id    := r.session_id;
              reason        := 'payload_hash mismatch';
              expected_hash := expected_hash;
              actual_hash   := r.payload_hash;
              RETURN NEXT;
            END IF;

            prev_payload := r.payload_hash;
          END LOOP;
          RETURN;
        END;
        $$;;

GRANT EXECUTE ON FUNCTION public.verify_events_chain(uuid) TO PUBLIC;;

UPDATE alembic_version SET version_num='phase5_audit_hardening' WHERE alembic_version.version_num = '0c97e08a5308';

-- Running upgrade phase5_audit_hardening -> 7dd95fe06039

CREATE TABLE inventory_items (
    inventory_id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    drug_id UUID NOT NULL, 
    stock_level INTEGER NOT NULL, 
    reorder_point INTEGER NOT NULL, 
    tenant_price NUMERIC(10, 2), 
    is_active BOOLEAN NOT NULL, 
    PRIMARY KEY (inventory_id), 
    FOREIGN KEY(drug_id) REFERENCES drugs (drug_id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (tenant_id)
);

CREATE INDEX ix_inventory_items_drug_id ON inventory_items (drug_id);

CREATE INDEX ix_inventory_items_tenant_id ON inventory_items (tenant_id);

ALTER TABLE inventory_items ENABLE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation_inventory ON inventory_items
        FOR ALL
        USING (tenant_id = current_setting('app.current_tenant_id', true)::uuid);;

UPDATE alembic_version SET version_num='7dd95fe06039' WHERE alembic_version.version_num = 'phase5_audit_hardening';

-- Running upgrade 7dd95fe06039 -> phase6_chain_backfill

DROP FUNCTION IF EXISTS public.verify_events_chain(uuid);;

CREATE OR REPLACE FUNCTION public.verify_events_chain(
          p_tenant_id uuid DEFAULT NULL
        )
        RETURNS TABLE (
          broken_at_seq   bigint,
          event_id        uuid,
          session_id      uuid,
          reason          text,
          expected_hash   text,
          actual_hash     text,
          unsigned_count  bigint
        )
        LANGUAGE plpgsql
        SECURITY DEFINER
        SET search_path = public, extensions
        AS $$
        DECLARE
          r               record;
          prev_payload    text := '0000000000000000000000000000000000000000000000000000000000000000';
          expected_hash   text;
          v_unsigned      bigint := 0;
        BEGIN
          FOR r IN
            SELECT e.event_id, e.session_id, e.event_seq,
                   e.payload_hash, e.prev_hash,
                   COALESCE(e.payload::text, '{}') AS payload_text,
                   COALESCE(e.actor_id::text, '')  AS actor_text
            FROM public.events e
            WHERE p_tenant_id IS NULL
               OR EXISTS (
                    SELECT 1 FROM public.sessions s
                    JOIN public.customers c ON c.customer_id = s.customer_id
                    WHERE s.session_id = e.session_id
                      AND c.tenant_id = p_tenant_id
                   )
            ORDER BY e.session_id, e.event_seq
          LOOP
            -- 0. Gap-aware: rows whose payload_hash is NULL predate the
            --    Phase 5 trigger and cannot be retroactively verified.
            --    We report them but they do NOT poison the chain.
            IF r.payload_hash IS NULL OR r.prev_hash IS NULL THEN
              v_unsigned := v_unsigned + 1;
              broken_at_seq  := r.event_seq;
              event_id       := r.event_id;
              session_id     := r.session_id;
              reason         := 'pre-phase5 unsigned';
              expected_hash  := NULL;
              actual_hash    := NULL;
              unsigned_count := v_unsigned;
              RETURN NEXT;
              -- Skip chain-continuity check for this row; prev_payload
              -- stays as it was so the next signed row continues from
              -- the last signed payload_hash we observed.
              CONTINUE;
            END IF;

            -- 1. prev_hash must match the previous SIGNED row's
            --    payload_hash (NULL rows are skipped, not chained).
            IF r.prev_hash IS DISTINCT FROM prev_payload THEN
              broken_at_seq  := r.event_seq;
              event_id       := r.event_id;
              session_id     := r.session_id;
              reason         := 'prev_hash mismatch';
              expected_hash  := prev_payload;
              actual_hash    := r.prev_hash;
              unsigned_count := v_unsigned;
              RETURN NEXT;
            END IF;

            -- 2. payload_hash must equal the recomputed hash.
            expected_hash := encode(
              digest((r.payload_text || '|' || r.prev_hash || '|' || r.actor_text)::text, 'sha256'::text),
              'hex'
            );
            IF r.payload_hash IS DISTINCT FROM expected_hash THEN
              broken_at_seq  := r.event_seq;
              event_id       := r.event_id;
              session_id     := r.session_id;
              reason         := 'payload_hash mismatch';
              expected_hash  := expected_hash;
              actual_hash    := r.payload_hash;
              unsigned_count := v_unsigned;
              RETURN NEXT;
            END IF;

            prev_payload := r.payload_hash;
          END LOOP;

          -- Final trailing summary row so callers can read unsigned_count
          -- even when the chain is otherwise healthy (zero mismatches).
          broken_at_seq  := NULL;
          event_id       := NULL;
          session_id     := NULL;
          reason         := 'chain-summary';
          expected_hash  := NULL;
          actual_hash    := NULL;
          unsigned_count := v_unsigned;
          RETURN NEXT;

          RETURN;
        END;
        $$;;

GRANT EXECUTE ON FUNCTION public.verify_events_chain(uuid) TO PUBLIC;;

CREATE OR REPLACE FUNCTION public.rebuild_events_chain_hashes(
          p_session_id uuid DEFAULT NULL,
          p_force      boolean DEFAULT FALSE
        )
        RETURNS TABLE (
          rebuilt_rows   bigint,
          skipped_rows   bigint,
          first_seq      bigint,
          last_seq       bigint
        )
        LANGUAGE plpgsql
        SECURITY DEFINER
        SET search_path = public, extensions
        AS $$
        DECLARE
          r               record;
          prev_payload    text := '0000000000000000000000000000000000000000000000000000000000000000';
          v_rebuilt       bigint := 0;
          v_skipped        bigint := 0;
          v_first          bigint := NULL;
          v_last           bigint := NULL;
          v_computed_prev  text;
          v_computed_hash  text;
        BEGIN
          -- Disable the immutability guard for the duration of this
          -- maintenance transaction. We re-enable it in the FINAL block
          -- below regardless of success or failure.
          BEGIN
            ALTER TABLE public.events DISABLE TRIGGER events_block_mutation;
          EXCEPTION WHEN undefined_object THEN NULL;
          END;

          -- Walk the chain in strict monotonic order so prev_hash reflects
          -- the immediately-preceding SIGNED row. NULL rows absorb the
          -- current prev_payload (genesis) only when they are the FIRST
          -- row of their session; otherwise they chain to whatever signed
          -- row came before them.
          FOR r IN
            SELECT e.event_id, e.event_seq, e.session_id, e.payload_hash,
                   COALESCE(e.payload::text, '{}') AS payload_text,
                   COALESCE(e.actor_id::text, '')   AS actor_text
            FROM public.events e
            WHERE (p_session_id IS NULL OR e.session_id = p_session_id)
            ORDER BY e.session_id, e.event_seq
            FOR UPDATE
          LOOP
            IF r.payload_hash IS NOT NULL AND NOT p_force THEN
              -- Already signed and not forced -> leave alone, but feed
              -- it into prev_payload so the next unsigned row chains to
              -- the real previous-signature.
              prev_payload := r.payload_hash;
              v_skipped    := v_skipped + 1;
              CONTINUE;
            END IF;

            v_computed_prev := prev_payload;
            v_computed_hash := encode(
              digest((r.payload_text || '|' || v_computed_prev || '|' || r.actor_text)::text,
                     'sha256'::text),
              'hex'
            );

            -- Direct UPDATE bypasses the (temporarily disabled) trigger.
            UPDATE public.events
               SET prev_hash    = v_computed_prev,
                   payload_hash = v_computed_hash
             WHERE event_id = r.event_id
               AND event_seq = r.event_seq;

            prev_payload := v_computed_hash;
            v_rebuilt    := v_rebuilt + 1;
            v_first      := COALESCE(v_first, r.event_seq);
            v_last       := r.event_seq;
          END LOOP;

          -- Re-enable the immutability trigger.
          BEGIN
            ALTER TABLE public.events ENABLE TRIGGER events_block_mutation;
          EXCEPTION WHEN undefined_object THEN NULL;
          END;

          rebuilt_rows := v_rebuilt;
          skipped_rows := v_skipped;
          first_seq    := v_first;
          last_seq     := v_last;
          RETURN NEXT;
          RETURN;
        END;
        $$;;

GRANT EXECUTE ON FUNCTION public.rebuild_events_chain_hashes(uuid, boolean) TO PUBLIC;;

CREATE OR REPLACE FUNCTION public.events_unsigned_count(
          p_tenant_id uuid DEFAULT NULL
        )
        RETURNS bigint
        LANGUAGE sql
        STABLE
        SECURITY DEFINER
        SET search_path = public
        AS $$
          SELECT count(*)
          FROM public.events e
          WHERE e.payload_hash IS NULL
            AND (p_tenant_id IS NULL
                 OR EXISTS (
                      SELECT 1 FROM public.sessions s
                      JOIN public.customers c ON c.customer_id = s.customer_id
                      WHERE s.session_id = e.session_id
                        AND c.tenant_id = p_tenant_id
                     ));
        $$;;

GRANT EXECUTE ON FUNCTION public.events_unsigned_count(uuid) TO PUBLIC;;

UPDATE alembic_version SET version_num='phase6_chain_backfill' WHERE alembic_version.version_num = '7dd95fe06039';

-- Running upgrade phase6_chain_backfill -> b7a790f21e4b

CREATE TABLE tenant_settings (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    ai_review_mode BOOLEAN NOT NULL, 
    enterprise_notifications BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (tenant_id) ON DELETE CASCADE, 
    UNIQUE (tenant_id)
);

ALTER TABLE contact_messages ALTER COLUMN first_name TYPE VARCHAR(255);

ALTER TABLE contact_messages ALTER COLUMN last_name TYPE VARCHAR(255);

ALTER TABLE contact_messages ALTER COLUMN email TYPE VARCHAR(255);

ALTER TABLE contact_messages ALTER COLUMN message TYPE VARCHAR;

CREATE INDEX ix_contact_messages_tenant_id ON contact_messages (tenant_id);

ALTER TABLE contact_messages DROP CONSTRAINT contact_messages_customer_id_fkey;

ALTER TABLE contact_messages ADD FOREIGN KEY(tenant_id) REFERENCES tenants (tenant_id);

ALTER TABLE contact_messages DROP COLUMN status;

ALTER TABLE events ALTER COLUMN payload TYPE JSON;

DROP INDEX events_event_seq_idx;

CREATE INDEX ix_events_event_seq ON events (event_seq);

UPDATE alembic_version SET version_num='b7a790f21e4b' WHERE alembic_version.version_num = 'phase6_chain_backfill';

-- Running upgrade b7a790f21e4b -> phase7_restore_jsonb

ALTER TABLE public.events
          ALTER COLUMN payload TYPE JSONB
          USING payload::jsonb;;

CREATE OR REPLACE FUNCTION public.events_chain()
        RETURNS TRIGGER
        LANGUAGE plpgsql
        SECURITY DEFINER
        AS $$
        DECLARE
          latest_payload_hash text;
          latest_event_seq    bigint;
        BEGIN
          IF NEW.event_seq IS NULL THEN
            NEW.event_seq := nextval(pg_get_serial_sequence('public.events', 'event_seq'));
          END IF;

          SELECT e.payload_hash, e.event_seq
          FROM public.events e
          WHERE e.session_id = NEW.session_id
          ORDER BY e.event_seq DESC
          LIMIT 1
          INTO latest_payload_hash, latest_event_seq;

          NEW.prev_hash := COALESCE(latest_payload_hash,
            '0000000000000000000000000000000000000000000000000000000000000000');

          NEW.payload_hash := encode(
            digest(
              COALESCE(NEW.payload::text, '{}') || '|' ||
              NEW.prev_hash || '|' ||
              COALESCE(NEW.actor_id::text, ''),
              'sha256'
            ),
            'hex'
          );

          RETURN NEW;
        END;
        $$;;

DROP TRIGGER IF EXISTS events_chain ON public.events;;

CREATE TRIGGER events_chain
          BEFORE INSERT ON public.events
          FOR EACH ROW
          EXECUTE FUNCTION public.events_chain();;

CREATE OR REPLACE FUNCTION public.events_block_mutation()
        RETURNS TRIGGER
        LANGUAGE plpgsql
        SECURITY DEFINER
        AS $$
        BEGIN
          RAISE EXCEPTION 'public.events is append-only: UPDATE/DELETE is forbidden (HIPAA 45 CFR 164.312(c)(1)).';
        END;
        $$;;

DROP TRIGGER IF EXISTS events_block_mutation ON public.events;;

CREATE TRIGGER events_block_mutation
          BEFORE UPDATE OR DELETE ON public.events
          FOR EACH ROW
          EXECUTE FUNCTION public.events_block_mutation();;

SELECT * FROM public.rebuild_events_chain_hashes(NULL, TRUE);;

UPDATE alembic_version SET version_num='phase7_restore_jsonb' WHERE alembic_version.version_num = 'b7a790f21e4b';

-- Running upgrade phase7_restore_jsonb -> phase8_chain_per_session_fix

CREATE OR REPLACE FUNCTION public.events_chain()
        RETURNS TRIGGER
        LANGUAGE plpgsql
        SECURITY DEFINER
        AS $$
        DECLARE
          latest_payload_hash text;
          latest_event_seq    bigint;
        BEGIN
          IF NEW.event_seq IS NULL THEN
            NEW.event_seq := nextval(pg_get_serial_sequence('public.events', 'event_seq'));
          END IF;

          SELECT e.payload_hash, e.event_seq
            FROM public.events e
           WHERE e.session_id = NEW.session_id
           ORDER BY e.event_seq DESC
           LIMIT 1
           INTO latest_payload_hash, latest_event_seq;

          NEW.prev_hash := COALESCE(latest_payload_hash,
            '0000000000000000000000000000000000000000000000000000000000000000');

          NEW.payload_hash := encode(
            extensions.digest(
              COALESCE(NEW.payload::text, '{}') || '|' ||
              NEW.prev_hash || '|' ||
              COALESCE(NEW.actor_id::text, ''),
              'sha256'
            ),
            'hex'
          );

          RETURN NEW;
        END;
        $$;;

DROP TRIGGER IF EXISTS events_chain ON public.events;;

CREATE TRIGGER events_chain
          BEFORE INSERT ON public.events
          FOR EACH ROW
          EXECUTE FUNCTION public.events_chain();;

CREATE OR REPLACE FUNCTION public.verify_events_chain(
          p_tenant_id uuid DEFAULT NULL
        )
        RETURNS TABLE (
          broken_at_seq   bigint,
          event_id        uuid,
          session_id      uuid,
          reason          text,
          expected_hash   text,
          actual_hash     text,
          unsigned_count  bigint
        )
        LANGUAGE plpgsql
        SECURITY DEFINER
        SET search_path = public, extensions
        AS $$
        DECLARE
          r               record;
          expected_hash   text;
          v_unsigned      bigint := 0;
          v_prev_hash     text;
        BEGIN
          FOR r IN
            WITH ordered AS (
              SELECT
                e.event_id, e.session_id, e.event_seq,
                e.payload_hash, e.prev_hash,
                COALESCE(e.payload::text, '{}') AS payload_text,
                COALESCE(e.actor_id::text, '')    AS actor_text,
                lag(e.payload_hash) OVER (
                  PARTITION BY e.session_id
                  ORDER BY e.event_seq
                ) AS prev_payload_hash
              FROM public.events e
              WHERE p_tenant_id IS NULL
                 OR EXISTS (
                      SELECT 1 FROM public.sessions s
                      JOIN public.customers c ON c.customer_id = s.customer_id
                      WHERE s.session_id = e.session_id
                        AND c.tenant_id = p_tenant_id
                     )
            )
            SELECT * FROM ordered
            ORDER BY session_id, event_seq
          LOOP
            -- 0. Gap-aware: rows whose payload_hash is NULL predate the
            --    Phase 5 trigger and cannot be retroactively verified.
            IF r.payload_hash IS NULL OR r.prev_hash IS NULL THEN
              v_unsigned := v_unsigned + 1;
              broken_at_seq  := r.event_seq;
              event_id       := r.event_id;
              session_id     := r.session_id;
              reason         := 'pre-phase5 unsigned';
              expected_hash  := NULL;
              actual_hash    := NULL;
              unsigned_count := v_unsigned;
              RETURN NEXT;
              CONTINUE;
            END IF;

            -- 1. prev_hash must equal the previous SIGNED row's
            --    payload_hash in the SAME session, or the genesis seed
            --    for the first row of a session. The window function
            --    partitions by session_id so sessions do NOT leak.
            v_prev_hash := COALESCE(r.prev_payload_hash,
              '0000000000000000000000000000000000000000000000000000000000000000');
            IF r.prev_hash IS DISTINCT FROM v_prev_hash THEN
              broken_at_seq  := r.event_seq;
              event_id       := r.event_id;
              session_id     := r.session_id;
              reason         := 'prev_hash mismatch';
              expected_hash  := v_prev_hash;
              actual_hash    := r.prev_hash;
              unsigned_count := v_unsigned;
              RETURN NEXT;
            END IF;

            -- 2. payload_hash must equal the recomputed hash. The
            --    hash absorbs the row's prev_hash so a tampered prev
            --    would also break this check (defense in depth).
            expected_hash := encode(
              extensions.digest(r.payload_text || '|' || r.prev_hash || '|' || r.actor_text,
                     'sha256'),
              'hex'
            );
            IF r.payload_hash IS DISTINCT FROM expected_hash THEN
              broken_at_seq  := r.event_seq;
              event_id       := r.event_id;
              session_id     := r.session_id;
              reason         := 'payload_hash mismatch';
              expected_hash  := expected_hash;
              actual_hash    := r.payload_hash;
              unsigned_count := v_unsigned;
              RETURN NEXT;
            END IF;
          END LOOP;

          -- Trailing summary row so callers can read unsigned_count even
          -- when every row passes.
          broken_at_seq  := NULL;
          event_id       := NULL;
          session_id     := NULL;
          reason         := 'chain-summary';
          expected_hash  := NULL;
          actual_hash    := NULL;
          unsigned_count := v_unsigned;
          RETURN NEXT;
          RETURN;
        END;
        $$;;

GRANT EXECUTE ON FUNCTION public.verify_events_chain(uuid) TO PUBLIC;;

CREATE OR REPLACE FUNCTION public.rebuild_events_chain_hashes(
          p_session_id uuid DEFAULT NULL,
          p_force      boolean DEFAULT FALSE
        )
        RETURNS TABLE (
          rebuilt_rows   bigint,
          skipped_rows   bigint,
          first_seq      bigint,
          last_seq       bigint
        )
        LANGUAGE plpgsql
        SECURITY DEFINER
        SET search_path = public, extensions
        AS $$
        DECLARE
          r               record;
          v_rebuilt       bigint := 0;
          v_skipped       bigint := 0;
          v_first         bigint := NULL;
          v_last          bigint  := NULL;
          v_computed_prev text;
          v_computed_hash text;
          v_prev_payload  text := '0000000000000000000000000000000000000000000000000000000000000000';
          v_cur_session   uuid;
        BEGIN
          BEGIN
            ALTER TABLE public.events DISABLE TRIGGER events_block_mutation;
          EXCEPTION WHEN undefined_object THEN NULL;
          END;

          -- Walk rows ordered by (session_id, event_seq) and reset the
          -- prev_payload accumulator to the genesis seed every time we
          -- cross a session boundary. PostgreSQL does NOT allow
          -- FOR UPDATE against a CTE that contains window functions, so
          -- we kept the explicit scalar accumulator pattern from Phase 6
          -- and added the per-session reset below.
          FOR r IN
            SELECT e.event_id, e.event_seq, e.session_id, e.payload_hash,
                   COALESCE(e.payload::text, '{}') AS payload_text,
                   COALESCE(e.actor_id::text, '')    AS actor_text
            FROM public.events e
            WHERE p_session_id IS NULL OR e.session_id = p_session_id
            ORDER BY e.session_id, e.event_seq
            FOR UPDATE
          LOOP
            -- Reset the chain accumulator whenever we step into a NEW
            -- session. This is the per-session seed that the original
            -- Phase 6 implementation was missing, causing the last row
            -- of session A to leak into the first row of session B.
            IF v_cur_session IS DISTINCT FROM r.session_id THEN
              v_prev_payload := '0000000000000000000000000000000000000000000000000000000000000000';
              v_cur_session  := r.session_id;
            END IF;

            IF r.payload_hash IS NOT NULL AND NOT p_force THEN
              -- Already signed AND not forced � leave the row alone but
              -- carry its payload_hash forward as the next row's prev.
              v_prev_payload := r.payload_hash;
              v_skipped := v_skipped + 1;
              CONTINUE;
            END IF;

            v_computed_prev := v_prev_payload;
            v_computed_hash := encode(
              extensions.digest(
                r.payload_text || '|' || v_computed_prev || '|' || r.actor_text,
                'sha256'
              ),
              'hex'
            );

            UPDATE public.events
               SET prev_hash    = v_computed_prev,
                   payload_hash = v_computed_hash
             WHERE event_id = r.event_id
               AND event_seq = r.event_seq;

            v_prev_payload := v_computed_hash;
            v_rebuilt := v_rebuilt + 1;
            v_first   := COALESCE(v_first, r.event_seq);
            v_last    := r.event_seq;
          END LOOP;

          BEGIN
            ALTER TABLE public.events ENABLE TRIGGER events_block_mutation;
          EXCEPTION WHEN undefined_object THEN NULL;
          END;

          rebuilt_rows := v_rebuilt;
          skipped_rows := v_skipped;
          first_seq    := v_first;
          last_seq     := v_last;
          RETURN NEXT;
          RETURN;
        END;
        $$;;

GRANT EXECUTE ON FUNCTION public.rebuild_events_chain_hashes(uuid, boolean) TO PUBLIC;;

SELECT * FROM public.rebuild_events_chain_hashes(NULL, TRUE);;

UPDATE alembic_version SET version_num='phase8_chain_per_session_fix' WHERE alembic_version.version_num = 'phase7_restore_jsonb';

-- Running upgrade phase8_chain_per_session_fix -> 5c8668fb5512

UPDATE alembic_version SET version_num='5c8668fb5512' WHERE alembic_version.version_num = 'phase8_chain_per_session_fix';

-- Running upgrade 5c8668fb5512 -> p10critfixes

UPDATE alembic_version SET version_num='p10critfixes' WHERE alembic_version.version_num = '5c8668fb5512';

COMMIT;

-- ============================================================
-- P11 Seed Drugs â€” AI-COS Pharmacy
-- Run this SQL in: Supabase Dashboard -> SQL Editor
-- This restores the 114 deleted drugs.
-- ============================================================

TRUNCATE TABLE public.drugs CASCADE;

INSERT INTO public.drugs (drug_id, name, category, is_chronic, base_price, default_cycle_days, image_url) VALUES (gen_random_uuid(), 'sinopril 5mg 30 tab', 'Ù…Ø²Ù…Ù† - Ø¶ØºØ·', true, 30.0, 30, 'https://quhfheudhewxqmvxwjij.supabase.co/storage/v1/object/public/drug-images/sinopril-5mg-30-tab.webp');
INSERT INTO public.drugs (drug_id, name, category, is_chronic, base_price, default_cycle_days, image_url) VALUES (gen_random_uuid(), 'protectopril plus 4/1.25 mg 30 tabs', 'Ù…Ø²Ù…Ù† - Ø¶ØºØ·', true, 48.0, 30, 'https://quhfheudhewxqmvxwjij.supabase.co/storage/v1/object/public/drug-images/protectopril-plus-4-1-25-mg-30-tabs.webp');
INSERT INTO public.drugs (drug_id, name, category, is_chronic, base_price, default_cycle_days, image_url) VALUES (gen_random_uuid(), 'protectopril 8 mg 30 tabs', 'Ù…Ø²Ù…Ù† - Ø¶ØºØ·', true, 84.0, 30, 'https://quhfheudhewxqmvxwjij.supabase.co/storage/v1/object/public/drug-images/protectopril-8-mg-30-tabs.webp');

-- Done!
UPDATE public.drugs SET image_url = '/medicines/02732a82-9c1a-4ec2-9ae7-4e2393126921.webp' WHERE name = 'sinopril 5mg 30 tab';
UPDATE public.drugs SET image_url = '/medicines/028a5fb1-b76e-49e9-89d2-670ddff1dd7d.webp' WHERE name = 'protectopril plus 4/1.25 mg 30 tabs';
UPDATE public.drugs SET image_url = '/medicines/06619268-eb45-42fe-a6dd-2536617af351.webp' WHERE name = 'protectopril 8 mg 30 tabs';
UPDATE public.drugs SET image_url = '/medicines/06921563-f9a5-4882-99a6-70f3468e9ed7.webp' WHERE name = 'timbestatin 10/20 mg 14 f.c.tab';
UPDATE public.drugs SET image_url = '/medicines/0757ecea-1e00-444c-8612-9fa301cf7941.webp' WHERE name = 'vanvilda plus 50/850 mg 30 tabs';
UPDATE public.drugs SET image_url = '/medicines/09ed7fde-7d69-4c25-9ede-6a12c298036a.png' WHERE name = 'vanvilda plus 50/500 mg 30 tabs';
UPDATE public.drugs SET image_url = '/medicines/12653f70-b74a-489d-a06c-0edb097d0c95.webp' WHERE name = 'vanvilda plus 50/1000 mg 30 tabs';
UPDATE public.drugs SET image_url = '/medicines/143aa6c9-b2c9-4e95-a9e4-066892f4c1a6.webp' WHERE name = 'vanvilda 50 mg 30 tabs';
UPDATE public.drugs SET image_url = '/medicines/14eb3c23-050e-43fd-bea9-041752ea56e8.webp' WHERE name = 'toujeo solostar 300 i.u./ml 1.5 ml 5 pens';
UPDATE public.drugs SET image_url = '/medicines/15f7b1a4-1b4c-44ed-b583-5c79031b958e.webp' WHERE name = 'zemylaise 200 ceip unit/ml syrup 120 ml';
UPDATE public.drugs SET image_url = '/medicines/21061a1e-d5e8-49bf-84b2-1e7e105dea77.png' WHERE name = 'trypsoxir 10 chew tabs';
UPDATE public.drugs SET image_url = '/medicines/210ebb2c-0136-485f-a623-6d53960cfe14.webp' WHERE name = 'tiapair 20 tabs';
UPDATE public.drugs SET image_url = '/medicines/22673822-b2f6-458c-85d8-96325733608e.webp' WHERE name = 'tetracongyra eye drops 10 ml';
UPDATE public.drugs SET image_url = '/medicines/27c80aba-709c-4a47-b6c2-bb47bbdb9bf5.webp' WHERE name = 'targozym 20 tabs';
UPDATE public.drugs SET image_url = '/medicines/286bce1f-4c22-4094-9e86-850a709070a4.png' WHERE name = 'stopadol night 30 f.c.tabs';
UPDATE public.drugs SET image_url = '/medicines/2a90541d-6f53-47ff-9dc0-235c5df009ea.webp' WHERE name = 'stopadol night 20 f.c.tabs';
UPDATE public.drugs SET image_url = '/medicines/2c6c75b4-06d2-46bf-acbf-bd231664e06b.webp' WHERE name = 'stopadol forte 1000 mg 10 eff. sachets';
UPDATE public.drugs SET image_url = '/medicines/2dacc6d2-a994-42e9-b29b-e99f669bd1ce.png' WHERE name = 'stopadol 650 mg 30 ext. rel. tabs';
UPDATE public.drugs SET image_url = '/medicines/2ed1a917-f728-45b0-86dc-804a9935eee3.png' WHERE name = 'romage cream';
UPDATE public.drugs SET image_url = '/medicines/337f5a86-6d2d-4b02-b13f-e2863eb4a60e.webp' WHERE name = 'roflex massage gel 50gm';
UPDATE public.drugs SET image_url = '/medicines/3721623c-fa5a-4d7b-be64-9cd493fab23a.png' WHERE name = 'rhumaquick 50 mg 20 disp. tabs';
UPDATE public.drugs SET image_url = '/medicines/3aa88d36-a2bc-48db-831a-e5e0dbd62b3b.jpg' WHERE name = 'zathrotrue 500 mg 6 f.c. tabs';
UPDATE public.drugs SET image_url = '/medicines/3b1e081a-f654-42fa-803a-93c3a3ef11dc.png' WHERE name = 'xithrobiotic ophthalmic sol. 2.5 ml';
UPDATE public.drugs SET image_url = '/medicines/41fa1677-ab5e-4bae-b41d-c79b3a92ca9c.webp' WHERE name = 'wideprex 400 mg 5 caps';
UPDATE public.drugs SET image_url = '/medicines/449ba2d8-34a1-4325-ac3c-596e50207a51.png' WHERE name = 'wideprex 100mg/5ml susp. 60ml';
UPDATE public.drugs SET image_url = '/medicines/4953be8d-56df-4d29-965b-f380aa772dd6.png' WHERE name = 'volitracin 500 mg 7 f.c. tabs';
UPDATE public.drugs SET image_url = '/medicines/4a2dfb63-3629-4550-8db3-d102dc8b64a1.png' WHERE name = 'vancolon 1000mg i.v. vial';
UPDATE public.drugs SET image_url = '/medicines/4c383950-f106-4de3-80dd-7d0899944d3f.webp' WHERE name = 'vancobact 1 gm vial for i.v. inf';
UPDATE public.drugs SET image_url = '/medicines/4cccbf81-484b-4d80-80b5-398b2f53cabe.jpg' WHERE name = 'tinifloxacin 20 tab';
UPDATE public.drugs SET image_url = '/medicines/4d408823-5da5-440e-a9b8-133d884f7ed5.png' WHERE name = 'tavixinor 750 mg 5 f.c. tabs';
UPDATE public.drugs SET image_url = '/medicines/4d79eaf2-8c49-4414-b895-152d5d00abe8.png' WHERE name = 'tavixinor 500 mg 5 f.c. tabs';
UPDATE public.drugs SET image_url = '/medicines/4ea88186-9af4-4055-b729-697858391a9c.png' WHERE name = 'sunnymerop 1 gm i.v. vial';
UPDATE public.drugs SET image_url = '/medicines/4f844559-f47b-42c7-8f67-68c505b2050a.webp' WHERE name = 'septazole forte 800/160mg 10 tabs';
UPDATE public.drugs SET image_url = '/medicines/52db6b0d-9d8b-4c47-a510-6888eceb53ec.webp' WHERE name = 'vondalous 10 mg 20 f.c. tabs';
UPDATE public.drugs SET image_url = '/medicines/533d77a3-0aa6-4e2b-9bc5-973c9f40b98d.jpg' WHERE name = 'ursodol 250 mg 10 caps';
UPDATE public.drugs SET image_url = '/medicines/55978677-cbfd-44cb-aee4-00461d5b2551.png' WHERE name = 'thimepro d3 30 ml drops';
UPDATE public.drugs SET image_url = '/medicines/5c8f903b-d288-4c91-8e21-4f7c59ae8fb8.webp' WHERE name = 'sona drink 10 sachets';
UPDATE public.drugs SET image_url = '/medicines/5f6e555f-e0ae-4257-94e7-0866c45f8a42.png' WHERE name = 'sekem laxi herbs 15 filter bags';
UPDATE public.drugs SET image_url = '/medicines/620b7646-fe8b-46f4-8e76-8790be97a199.jpg' WHERE name = 'santabiota oral drops 15 ml';
UPDATE public.drugs SET image_url = '/medicines/63858b26-4559-4b33-80cc-5f0e88ffdc5a.webp' WHERE name = 'royal ginger 12 filter bags';
UPDATE public.drugs SET image_url = '/medicines/63cf78aa-374e-4f30-96d6-488f7433c1e0.png' WHERE name = 'rennie 24 chew. tab';
UPDATE public.drugs SET image_url = '/medicines/66169fec-d835-4437-9677-f2d8ed13aff0.webp' WHERE name = 'racecasec 100 mg 10 caps';
UPDATE public.drugs SET image_url = '/medicines/6742f27f-b314-423f-a2b8-276ce4c75fff.png' WHERE name = 'potenzym 20 tablets';
UPDATE public.drugs SET image_url = '/medicines/69b90dce-1bda-412b-8623-4eedeb977f7d.webp' WHERE name = 'pantomedra 40 mg 28 e.c. tabs';
UPDATE public.drugs SET image_url = '/medicines/6b3d0a43-118e-4d24-955d-51f78e78398d.webp' WHERE name = 'pangestazol 40mg 28 tabs';
UPDATE public.drugs SET image_url = '/medicines/6ed16325-52c1-4810-b4b3-ad0b01dee072.png' WHERE name = 'zma 90 veg. caps. (now)';
UPDATE public.drugs SET image_url = '/medicines/70c3385d-1359-45d4-8c25-02706b2dc1be.webp' WHERE name = 'zinobacilly oral drops 10 ml';
UPDATE public.drugs SET image_url = '/medicines/739a8b0d-8022-4559-a4ec-3258b6c57f41.png' WHERE name = 'zinc acid 20 tabs';
UPDATE public.drugs SET image_url = '/medicines/7450a7a5-c09a-492b-82da-6be911ef0c27.png' WHERE name = 'zamcillus probiotic drops 10 ml';
UPDATE public.drugs SET image_url = '/medicines/74930630-1170-49f5-93c7-6913ac068095.webp' WHERE name = 'zakio 120 ml syrup';
UPDATE public.drugs SET image_url = '/medicines/760d21e7-bf6c-44e2-82af-2550a23a9a0e.webp' WHERE name = 'ximalact 250 mg 30 caps';
UPDATE public.drugs SET image_url = '/medicines/791b515b-cc28-4a7b-b8ec-d31d643dafcc.webp' WHERE name = 'whey protein powder 900 gm 30 serve';
UPDATE public.drugs SET image_url = '/medicines/7e6da5dc-66ce-41ca-8d6a-305c23f36a97.webp' WHERE name = 'whey protein powder 420 gm 14 serve';
UPDATE public.drugs SET image_url = '/medicines/7f34f6ac-1a0e-4f30-b772-794c5a53d943.webp' WHERE name = 'whey protein powder 2100 gm 70 serve';
UPDATE public.drugs SET image_url = '/medicines/804a5c20-c0f4-436e-b382-405bde7ba46a.webp' WHERE name = 'whey protein isolate powder vanilla 816 gm (1.8 lbs) (now)';
UPDATE public.drugs SET image_url = '/medicines/8676115b-0421-468f-aeb6-c583af2001ef.webp' WHERE name = 'whey protein isolate powder chocolate 816 gm (1.8 lbs) (now)';
UPDATE public.drugs SET image_url = '/medicines/87c33927-27db-4f6d-a019-8cbbecbeacc1.webp' WHERE name = 'whey protein isolate powder 544 gm (1.2 lbs) (now)';
UPDATE public.drugs SET image_url = '/medicines/8f4c5043-1cba-4f2e-b647-6b87b345cc08.webp' WHERE name = 'centravita solvo plus 20 tablets';
UPDATE public.drugs SET image_url = '/medicines/8f7681e1-dd74-4e7b-8daf-8e6270e73de5.webp' WHERE name = 'valulit syrup 120ml';
UPDATE public.drugs SET image_url = '/medicines/90799cbc-ee3b-400c-9ae4-91d559c5e46b.png' WHERE name = 'tussin syrup 100 ml';
UPDATE public.drugs SET image_url = '/medicines/9a12e2a0-0f61-46ec-acc0-fb6ba8765655.webp' WHERE name = 'topaken syrup 100 ml';
UPDATE public.drugs SET image_url = '/medicines/9aeeaa43-7714-4b1c-abdc-8eee1309ec40.webp' WHERE name = 'stopadol cold & flu 20 caps';
UPDATE public.drugs SET image_url = '/medicines/a599ea04-e8d6-4698-b700-da126d522645.webp' WHERE name = 'respovan 120 ml syrup';
UPDATE public.drugs SET image_url = '/medicines/ab0e1849-312f-40fa-a362-d4c8cf2e473d.png' WHERE name = 'mave tec syrup 120 ml';
UPDATE public.drugs SET image_url = '/medicines/b0e89aef-bdc6-405c-bb4c-5e0155e19cce.webp' WHERE name = 'linkocetamol 10 sachets pwd. for oral susp';
UPDATE public.drugs SET image_url = '/medicines/b5daa061-cc16-436b-9962-bbc5eb32a71c.webp' WHERE name = 'krota 120ml syrup';
UPDATE public.drugs SET image_url = '/medicines/b5dac3f3-b802-4872-b1d2-c3407bf804af.png' WHERE name = 'ivyroegy syrup 120ml';
UPDATE public.drugs SET image_url = '/medicines/b6937527-c820-486e-bf72-4391386a6623.webp' WHERE name = 'ivymune syrup 120 ml';
UPDATE public.drugs SET image_url = '/medicines/b7063d8a-be19-4dbb-a69e-28c80e15c50c.webp' WHERE name = 'histonic syrup 120 ml';
UPDATE public.drugs SET image_url = '/medicines/b996974e-5725-405c-a546-bc49af2d0782.webp' WHERE name = 'ramatrizine 5 mg 30 f.c.tabs';
UPDATE public.drugs SET image_url = '/medicines/b9f53513-f04d-4000-8a6e-a8a64f447ec8.png' WHERE name = 'hisatrup 1mg/ml syrup 120 ml';
UPDATE public.drugs SET image_url = '/medicines/bb8dd434-c312-4bbd-95ce-d5cb16784dcc.webp' WHERE name = 'elballerge 30mg/5ml susp. 100 ml';
UPDATE public.drugs SET image_url = '/medicines/bc314701-6b98-4187-9a58-41accbdb1721.png' WHERE name = 'badotirizin 5mg/5ml syrup 125ml';
UPDATE public.drugs SET image_url = '/medicines/bd178832-513a-4896-acc4-7bedcbf39099.png' WHERE name = 'astin 20 mg 20 f.c.tabs';
UPDATE public.drugs SET image_url = '/medicines/bf08e305-5bdb-43e2-a11c-75ddbca5498e.png' WHERE name = 'astin 10 mg 20 f.c. tabs';
UPDATE public.drugs SET image_url = '/medicines/bf5de945-2519-4cfb-ac31-69d6b242ebf5.png' WHERE name = 'allergyl 4 mg 20 tabs';
UPDATE public.drugs SET image_url = '/medicines/c10724cd-3fd6-4e68-b50a-de6bf3609735.webp' WHERE name = 'caftohist 0.25% eye drops 3 ml';
UPDATE public.drugs SET image_url = '/medicines/c1e62244-d977-49e4-816a-933a28780dad.png' WHERE name = 'alerid 10 mg 30 f.c.tabs';
UPDATE public.drugs SET image_url = '/medicines/c27547e4-46f5-4969-b4b0-19107cf9c51b.webp' WHERE name = 'rhipgic 5 mg 30 f.c. tabs';
UPDATE public.drugs SET image_url = '/medicines/c4d85700-a3a9-46a1-b856-834dd84ebdf1.webp' WHERE name = 'telfast decongestant 60/120mg 10 ext. rel. tabs';
UPDATE public.drugs SET image_url = '/medicines/c6308722-2a4e-4f58-a13b-dbb94402beee.png' WHERE name = 'skivalorine 2.5mg/5ml syrup 150ml';
UPDATE public.drugs SET image_url = '/medicines/c7dcad37-9c8b-42a3-9fc2-37ffddc6a346.png' WHERE name = 'thyroxine 50mcg 100 tab';
UPDATE public.drugs SET image_url = '/medicines/c99028c2-972d-4822-a800-2bf1fab359d6.png' WHERE name = 'thyroxine 100mcg 100 tab';
UPDATE public.drugs SET image_url = '/medicines/c9e7ee8c-82c0-46c1-a8ad-b23f545523b6.png' WHERE name = 'eltroxin 50mcg 100 tabs';
UPDATE public.drugs SET image_url = '/medicines/cae6be63-d55c-44bf-96e1-f543c0d77f53.webp' WHERE name = 'eltroxin 100 mcg 100 tabs';
UPDATE public.drugs SET image_url = '/medicines/cbce64ed-0c14-4533-a710-2ce0e72619f6.webp' WHERE name = 'Concor 5mg';
UPDATE public.drugs SET image_url = '/medicines/cdd0c65a-2dc8-45f4-92ec-6511c03c8e4e.webp' WHERE name = 'Amlopres 5mg';
UPDATE public.drugs SET image_url = '/medicines/cf26b969-9cbc-49db-b141-3cfa60126cec.webp' WHERE name = 'Diovan 80mg';
UPDATE public.drugs SET image_url = '/medicines/d1f406e3-c7e5-40a7-a31f-d42bbee73813.png' WHERE name = 'Norvasc 5mg';
UPDATE public.drugs SET image_url = '/medicines/d4036c4b-e5f4-475a-8002-e3bc89a098d0.png' WHERE name = 'Capoten 25mg';
UPDATE public.drugs SET image_url = '/medicines/d4a7b9fc-425a-49b9-938e-2e4eaa255e21.png' WHERE name = 'Glucophage 500mg';
UPDATE public.drugs SET image_url = '/medicines/d6f11403-acc6-49dc-a9f0-b6e6791f9977.webp' WHERE name = 'Glucomin 500mg';
UPDATE public.drugs SET image_url = '/medicines/dc25cb16-d60e-4809-a46b-9acc939df12e.png' WHERE name = 'Galvus Met 50/1000mg';
UPDATE public.drugs SET image_url = '/medicines/e3643f88-ae7f-41c3-b60b-98154f31f0b7.webp' WHERE name = 'Amaryl 2mg';
UPDATE public.drugs SET image_url = '/medicines/e3bdc033-05f9-433a-a659-d0c8740ea71b.png' WHERE name = 'Diamicron MR 60mg';
UPDATE public.drugs SET image_url = '/medicines/e6116545-fb2b-47e5-b366-0541c8cc5d1f.webp' WHERE name = 'Lipitor 20mg';
UPDATE public.drugs SET image_url = '/medicines/e645a1b1-1edc-4e4b-8d92-bce241e95ed8.webp' WHERE name = 'Crestor 10mg';
UPDATE public.drugs SET image_url = '/medicines/ea6829bb-048e-48a0-8997-920e5421992c.png' WHERE name = 'Panadol Extra';
UPDATE public.drugs SET image_url = '/medicines/ec3ac7a5-e626-4b31-aa13-9d7c5b32639b.webp' WHERE name = 'Bi Alcofan';
UPDATE public.drugs SET image_url = '/medicines/edf7ae36-5fc5-419e-9f50-bf5ec84dbcff.png' WHERE name = 'Cataflam 50mg';
UPDATE public.drugs SET image_url = '/medicines/ee0e4675-a1f3-4a89-b8a5-40ab58d93741.webp' WHERE name = 'Brufen 400mg';
UPDATE public.drugs SET image_url = '/medicines/f092d259-0e17-4976-88a2-864c22aa91aa.webp' WHERE name = 'Amoclan 1g';
UPDATE public.drugs SET image_url = '/medicines/f11ddf64-bb35-4329-8f01-f98f050bde95.webp' WHERE name = 'Augmentin 1g';
UPDATE public.drugs SET image_url = '/medicines/f273ebbe-03df-43c5-8e96-baefde460024.png' WHERE name = 'Zinnat 500mg';
UPDATE public.drugs SET image_url = '/medicines/f4160374-e3d4-47bb-9d8f-24e0e74610f1.png' WHERE name = 'Rani 150mg';
UPDATE public.drugs SET image_url = '/medicines/f685e8ae-a180-4c67-90f2-81fd174a139a.png' WHERE name = 'Motilium 10mg';
UPDATE public.drugs SET image_url = '/medicines/f99615c2-3c73-4d4d-bc3d-08564532e52f.webp' WHERE name = 'Nexium 40mg';
UPDATE public.drugs SET image_url = '/medicines/faacedf4-55d5-40a6-ba4d-9f072446868f.webp' WHERE name = 'Cal-D-Vita';
UPDATE public.drugs SET image_url = '/medicines/fab952ae-7b45-408d-9cc9-205160e4faab.webp' WHERE name = 'Bio Vit-C 1000mg';
UPDATE public.drugs SET image_url = '/medicines/fbe4f48c-248e-4723-88b0-864278e39c67.webp' WHERE name = 'Feroglobin';
UPDATE public.drugs SET image_url = '/medicines/fbe60c36-20d4-400b-8add-35c603ee76f3.webp' WHERE name = 'Omega Life 3';
UPDATE public.drugs SET image_url = '/medicines/fe580b1d-48d1-43e8-b0b1-eccff093a531.png' WHERE name = 'Coldrex';
UPDATE public.drugs SET image_url = '/medicines/ff1f4f62-aaf8-4342-bea9-c906d50834a9.webp' WHERE name = 'Comtrex';
UPDATE public.drugs SET image_url = '/medicines/ff2be321-5843-4f9f-9e70-167d9edb3c72.png' WHERE name = 'Zyrtec 10mg';
